In [6]:
import pandas as pd
import requests

In [150]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [151]:
df = pd.DataFrame(response.json()['results'])

In [152]:
df.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
15,False,/sw7mordbZxgITU877yTpZCud90M.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",68.556,/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg,1990-09-12,GoodFellas,False,8.466,11926
16,False,/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg,"[16, 18, 10752]",12477,ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.600,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-15,Grave of the Fireflies,False,8.456,4963
17,False,/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,44.351,/74hLDKjD5aGYOotO6esUVaeISa2.jpg,1997-12-20,Life Is Beautiful,False,8.455,12370
18,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,41.864,/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg,1954-04-26,Seven Samurai,False,8.453,3298
19,False,/zoVeIgKzGJzpdG6Gwnr7iOYfIMU.jpg,"[18, 10749]",11216,it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",34.256,/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg,1988-11-17,Cinema Paradiso,False,8.448,4023

In [153]:
df.shape

(20, 14)

In [154]:
df.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [155]:
df.drop(columns=['adult','backdrop_path','id','original_language','popularity','poster_path','original_title',
                'release_date','video','vote_average','vote_count'],inplace=True)

In [156]:
df.head()

,genre_ids,overview,title
0,"[18, 80]","Spanning the years 1945 to 1955, a chronicle o...",The Godfather
1,"[18, 80]",Framed in the 1940s for the double murder of h...,The Shawshank Redemption
2,"[18, 80]",In the continuing saga of the Corleone crime f...,The Godfather Part II
3,"[18, 36, 10752]",The true story of how businessman Oskar Schind...,Schindler's List
4,"[35, 18, 10749]","Raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge

In [80]:
df['genre_ids'][0]

[18, 80]

In [24]:
response2 = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')

In [25]:
response2

In [116]:
response2.json()

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [63]:
gen =[]

In [117]:
response2.json()['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [93]:
len(gen)

19

In [69]:
num=[]
gen_1=[]

In [70]:
for idx in gen:
    num.append(idx[0])
    gen_1.append(idx[1])

In [73]:
gen_1

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western']

In [118]:
# Sample data
data = response2.json()['genres']

# Sample column with genre IDs
genre_ids_column = num

# Mapping of genre IDs to names
genre_mapping = {genre['id']: genre['name'] for genre in data if 'name' in genre}

# Function to replace genre IDs with names
def replace_genre_ids(genre_ids):
    return [genre_mapping.get(genre_id, genre_id) for genre_id in genre_ids]

# Applying the function to the genre IDs column
updated_genre_column = replace_genre_ids(genre_ids_column)

print("Original Genre IDs Column:", genre_ids_column)
print("Updated Genre Names Column:", updated_genre_column)

Original Genre IDs Column: [28, 12, 16, 35, 80, 99, 18, 10751, 14, 36, 27, 10402, 9648, 10749, 878, 10770, 53, 10752, 37]
Updated Genre Names Column: ['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western']

In [124]:
df['genre_ids'].count()

20

In [119]:
df['geners'] = updated_genre_column

ValueError: Length of values (19) does not match length of index (20)

In [122]:
len(response2.json()['genres'])

19

## Preprocessing

In [157]:
#lowercasing
df['overview']=df['overview'].str.lower()

In [158]:
df.head()

,genre_ids,overview,title
0,"[18, 80]","spanning the years 1945 to 1955, a chronicle o...",The Godfather
1,"[18, 80]",framed in the 1940s for the double murder of h...,The Shawshank Redemption
2,"[18, 80]",in the continuing saga of the corleone crime f...,The Godfather Part II
3,"[18, 36, 10752]",the true story of how businessman oskar schind...,Schindler's List
4,"[35, 18, 10749]","raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge

In [159]:
#punctuation
import string
exclude = string.punctuation

In [160]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [161]:
df['overview']=df['overview'].apply(remove_punc)

In [162]:
df.head()

,genre_ids,overview,title
0,"[18, 80]",spanning the years 1945 to 1955 a chronicle of...,The Godfather
1,"[18, 80]",framed in the 1940s for the double murder of h...,The Shawshank Redemption
2,"[18, 80]",in the continuing saga of the corleone crime f...,The Godfather Part II
3,"[18, 36, 10752]",the true story of how businessman oskar schind...,Schindler's List
4,"[35, 18, 10749]",raj is a rich carefree happygolucky second gen...,Dilwale Dulhania Le Jayenge

In [163]:
from textblob import TextBlob

In [164]:
def spell_check(text):
    for sent in text:
        textblb = TextBlob(sent)
        textblb.correct().string
    return text

In [165]:
df['overview']=df['overview'].apply(spell_check)

In [166]:
df.head()

,genre_ids,overview,title
0,"[18, 80]",spanning the years 1945 to 1955 a chronicle of...,The Godfather
1,"[18, 80]",framed in the 1940s for the double murder of h...,The Shawshank Redemption
2,"[18, 80]",in the continuing saga of the corleone crime f...,The Godfather Part II
3,"[18, 36, 10752]",the true story of how businessman oskar schind...,Schindler's List
4,"[35, 18, 10749]",raj is a rich carefree happygolucky second gen...,Dilwale Dulhania Le Jayenge

In [167]:
#stop word
from nltk.corpus import stopwords

In [168]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [169]:
def remove_stop_word(text):
    new_word = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_word.append('')
        else:
            new_word.append(word)
    x = new_word[:]
    new_word.clear()
    return " ".join(x)

In [170]:
df['overview']=df['overview'].apply(remove_stop_word)

In [171]:
df.head()

,genre_ids,overview,title
0,"[18, 80]",spanning years 1945 1955 chronicle fictio...,The Godfather
1,"[18, 80]",framed 1940s double murder wife lover ...,The Shawshank Redemption
2,"[18, 80]",continuing saga corleone crime family you...,The Godfather Part II
3,"[18, 36, 10752]",true story businessman oskar schindler save...,Schindler's List
4,"[35, 18, 10749]",raj rich carefree happygolucky second genera...,Dilwale Dulhania Le Jayenge

In [172]:
#tokenizer
from nltk.tokenize import word_tokenize,sent_tokenize

In [173]:
def tokenize(text):
    return word_tokenize(text)

In [175]:
df['overview']=df['overview'].apply(tokenize)

In [176]:
df.head()

,genre_ids,overview,title
0,"[18, 80]","[spanning, years, 1945, 1955, chronicle, ficti...",The Godfather
1,"[18, 80]","[framed, 1940s, double, murder, wife, lover, u...",The Shawshank Redemption
2,"[18, 80]","[continuing, saga, corleone, crime, family, yo...",The Godfather Part II
3,"[18, 36, 10752]","[true, story, businessman, oskar, schindler, s...",Schindler's List
4,"[35, 18, 10749]","[raj, rich, carefree, happygolucky, second, ge...",Dilwale Dulhania Le Jayenge